# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files we want to always keep as LF in the repo.
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.vue text eol=lf
*.sh text eol=lf

# Binary files should be treated as binary.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
